*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    overflow: hidden;
}
section{
    margin-top: 20px;
}
.container{
    width: 100%;
    max-height: calc(100% - 60px);
    overflow-y: scroll;
}
.align{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.head{
    background-color: rgb(77, 162, 248);
    height: 60px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding: 10px;
    z-index: 10;
    overflow-x: visible;
    position: sticky;
    top: 0;
}
.home{
    text-decoration: none;
    color: white;
}
.nav-list{
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    font-size: 1.5rem;
    font-weight: normal;
    margin: 5px 20px;
}
.nav-item a{
    text-decoration: none;
    color: white;
}
.more-option{
    display: none;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.line{
    position: absolute;
    top: calc(var(--i)*10px);
    width: 30px;
    height: 4px;
    margin-top: 3px;
    border-radius: 2px;
    background-color: white;
    transition: 0.5s ease;
}
.cross{
    transform: rotateZ(calc(calc(var(--i)*90deg) + 45deg));
    top: 15px;
}
.nav-list-small{
    position: absolute;
    top: 60px;
    left: 0%;
    flex-direction: column;
    width: calc(100% - 20px);
    background-color: white;
    padding: 5px;
    transition: all 0.5s ease;
}
.nav-item-small{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid rgb(149, 149, 149);
    font-size: 1.5rem;
    font-weight: normal;
    margin: 10px 10px;
}
.nav-item-small:last-child{
    border: none;
}
.nav-item-small a{
    color: black;
    text-decoration: none;
}
.download{
    border: 2px solid rgb(187, 187, 187);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.3rem;
}
.sub-heading{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #19A7CE;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
}
.about{
    flex-wrap: wrap;
}
.landing-img{
    max-width: 300px;
    flex-basis: 300px;
    height: fit-content;
    margin: 10px;
    border-radius: 10px;
}
.self-details{
    font-size: 3rem;
    line-height: 40px;
}
.self-description{
    color: #000000b3;
    font-size: 1.5rem;
}
.education{
    margin: 20px;
    border-top: 5px solid #ababab;
}
.education-card{
    color: #146C94;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    min-height: 200px;
    line-height: 25px;
    width: calc(100%/3 - 20px);
    position: relative;
    background-color: #B0DAFF;
    border-radius: 10px;
    min-width: 200px;
}
.education-card::before{
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 5px;
    min-height: 20px;
    z-index: 1;
    background-color: #ababab;
}
.education-card::after{
    content: "";
    position: absolute;
    top: -33px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 10px;
    min-height: 10px;
    z-index: 1;
    border-radius: 50%;
    border: 5px solid #ababab;
    background-color: #ffff00;
}
.complete::after{
    background-color: rgb(0, 255, 0);
}
.clg-name{
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
}
.degree{
    position: absolute;
    top: 5px;
    left: 10px;
    color: #00364f;
}
.skill{
    flex-wrap: wrap;
    position: relative;
}
.skill-card{
    position: relative;
    width: 200px;
    height: 100px;
    background-color: #B0DAFF;
    justify-content: center;
    border-radius: 20px;
    margin: 10px;
}
.skill-card:hover{
    border-radius: 20px 20px 0 0;
}
.skill-card:hover .indicator{
    display: block;
    animation: slide 0.5s ease 0s 1;
}
.indicator{
    display: none;
    position: absolute;
    bottom: 2px;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 68, 68));
    width: calc(var(--value)*1%);
    border-radius: 5px;
    height: 5px;
}
.indicator::after{
    counter-reset: x var(--value);
    content: counter(x) "%";
    background-color: #fff;
    position: absolute;
    top: -28px;
    right: -20px;
    box-shadow: inset 0 0 5px 1px;
    z-index: 1;
    padding: 2px 5px;
    border-radius: 5px;
    color: #000;
}
.indicator::before{
    content: "";
    background-color: #fff;
    box-shadow: inset 0 0 2px 1px;
    position: absolute;
    top: -12px;
    width: 10px;
    height: 10px;
    right: -4px;
    z-index: 1;
    rotate: 45deg;
}
@keyframes slide {
    0%{
        width: 0;
    }
    100%{
        width: calc(var(--value)*1%);
    }
}
.skill-title{
    padding: 10px;
    color: #146C94;
    font-size: larger;
}
.skill-img{
    color: #146C94;
    font-size: 50px;
    width: 50px;
    height: 50px;
}
.project{
    flex-wrap: wrap;
}
.project-card{
    width: 400px;
    height: 350px;
    position: relative;
    flex-basis: 300px;
    margin: 10px;
}
.project-img{
    width: 300px;
    height: fit-content;
    object-fit: contain;
    margin: 20px 10px;
    border-radius: 5px;
}
.project-front{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #B0DAFF;
}
.project-title{
    color: #146C94;
    font-size: 1.5rem;
    font-weight: bold;
}
.project-details{
    text-align: center;
    text-decoration: none;
    color: #19A7CE;
    line-height: 25px;
}
.project-frame{
    position: relative;
    width: 100%;
    height: fit-content;
    min-width: 400px;
    min-height: 400px;
}
.close{
    display: none;
}
.close-pro-frame{
    z-index: 1;
    width: 20px;
    height: 20px;
    position: relative;
    left: calc(100% - 40px);
    bottom: 5px;
}
.live{
    color: #ffffff;
    background-color: #ff3636;
    padding: 2px 5px;
    border-radius: 5px;
    margin: 0 5px;
}
.live-button{
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #146C94;
    color: #fff;
}
.contact{
    position: relative;
    flex-wrap: wrap;
}
.contact-title{
    display: flex;
    align-items: center;
    text-align: center;
    color: #146C94;
    font-size: 1.5rem;
    font-weight: bold;
}
.contact-details{
    color: #19A7CE;
}
.contact-img{
    margin-right: 20px;
    color: #146C94;
    font-size: 40px;
}
.card{
    margin: 20px;
    width: 300px;
    height: 150px;
    flex-basis: 300px;
    border-radius: 10px;
    position: relative;
}
.front, .back{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s linear;
}
.front{
    background-color: #B0DAFF;
    z-index: 1;
}
.back{
    transform: rotateY(180deg);
    background-color: #146C94;
}
.card:hover .front{
    transform: rotateY(180deg);
}
.card:hover .back{
    transform: rotateY(0deg);
}
.ids{
    font-size: 1.5rem;
    font-weight: bold;
    color: #19A7CE;
    text-decoration: none;
    margin: 5px 0;
    cursor: pointer;
}
@media (max-width:700px){
    .landing-img{
        max-width: 300px;
    }
    .self-details{
        font-size: 2rem;
    }
    .clg-name{
        font-size: 1.1rem;
    }
}
@media (max-width:1000px){
    .nav-item{
        display: none;
    }
    .nav-item-small{
        display: flex;
    }
    .more-option{
        display: flex;
    }
    .nav-visible{
        left: -100%;
    }
}
@media (max-width:1100px){
    .education{
        flex-direction: column;
        margin: 20px 10px 20px 30px;
        border-top: none;
        border-left: 5px solid #ababab;
        align-items: flex-start;
        justify-content: space-around;
    }
    .education-card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        margin-left: 20px;
        width: calc(100% - 40px);
    }
    .education-card::before{
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
        min-width: 20px;
        min-height: 5px;
    }
    .education-card::after{
        top: 50%;
        left: -32px;
        transform: translateY(-50%);
    }
}
