*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    overflow: auto !important;
    background-color: black;
    background-image: url(https://i.pinimg.com/originals/e1/91/a8/e191a896209c083e069cc0c99b8c003d.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.half{
    height: 100%;
    overflow-y: scroll;
}
.first{
    flex-basis: 700px;
    flex-grow: 1;
}
.second{
    position: relative;
    flex-basis: 300px;
    height: calc(100% - 20px);
    flex-grow: 1;
    margin: 10px;
    border: 2px white solid;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px white;
}
.first, .second{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.first::-webkit-scrollbar, .second::-webkit-scrollbar{
    display: none;
}
.title{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: bisque;
    padding: 10px 50px;
    border-radius: 10px;
    margin: 10px;
    font-size: larger;
    font-weight: bold;
    text-shadow: 0 0 10px;
}
.personal-details{
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
    width: 100%;
    color: white;
    flex-wrap: wrap;
}
.personal-details p{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 300px;
    font-size: 25px;
}
.profile-pic{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.link-img{
    height: 45px;
    width: 45px;
    background-color: inherit;
    z-index: 1;
}
.details ul{
    list-style: none;
    overflow-y: hidden;
}
.details ul li{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0px;
    width: fit-content;
}
.details ul li:hover .ids{
    visibility: visible;
    animation: slide 1s 0s linear;
}
.ids{
    display: inline-flex;
    visibility: hidden;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: burlywood;
    height: 40px;
    position: relative;
    left: 0%;
    color: black;
    text-decoration: none;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.list-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: decimal;
    color: white;
}
.list-items .ids{
    visibility: visible;
}
.list-items li{
    padding: 5px 20px;
    font-size: 20px;
    background-color: burlywood;
    margin: 5px;
    border-radius: 5px;
}
.name{
    font-size: 2rem;
    color: blue;
}
@keyframes slide{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}
@media (max-width:1000px)
{
    .second
    {
        height: 400px;
    }
    .first{
        height: fit-content;
    }
    .half{
        border: none;
    }
    .container{
        height: fit-content;
    }
    .link-img{
        height: 40px;
        width: 40px;
    }
    .personal-details p{
        font-size: 20px;
    }
}
@media (max-width:750px){
    .profile-pic{
        height: 250px;
        width: 100px;
    }
    .ids{
        visibility: visible;
        height: 30px;
    }
    .details ul li:hover .ids{
        visibility: visible;
        animation: none;
    }
/*     body{
        background-image: url();
    } */
}
