*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.noscrollbar{
    scrollbar-width: none;
}
.noscrollbar::-webkit-scrollbar{
    display: none;
}
body{
    height: 100vh;
    background-color: #1E283A;
    /* #1E283A -> dark blue (background)
    #409EE8 -> light blue
    #0095E5 -> blue for button background
    #B373FE -> voilet
    #6DDE83 -> green
    #A5A9B0 -> grey */
}
.loading{
    background-color: #1E283A;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.load{
    width: 8px;
    height: 8px;
    background-color: #0095E5;
    border-radius: 50%;
    margin: 10px;
    animation: swing 1.5s linear var(--delay) infinite;
}
@keyframes swing{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
.mousepad{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.followmouse{
    width: 10px;
    height: 10px;
    position: absolute;
    top: -100px;
    left: 0;
    background-color: #ffffff34;
    box-shadow: 0 0 40px 10px #ffffff9f;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 60px;
    background-color: #1E283A;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
}
.nav-bar{
    display: flex;
    max-height: 60px;
    list-style: none;
}
.nav-item, .nav-item-screen{
    position: relative;
    list-style: none;
}
.nav-item a, .nav-item-screen a{
    color: #A5A9B0;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 20px;
    cursor: pointer;
}
.nav-item > span{
    transition: all 0.5s;
}
.active > span{
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 50%;
    height: 3px;
    transform: translateX(-50%);
    background-color: #0095E5;
}
.nav-item:hover a, .nav-item-screen:hover a{
    background-color: #0095E5;
    color: #fff;
}
.resume-nav a{
    border: 1px solid #A5A9B0;
    padding: 5px;
}
.nav-bar-screen{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E283A;
}
.nav-item-screen{
    margin: 20px;
}
.nav-but{
    position: absolute;
    top: 15px;
    right: 50px;
    width: 30px;
    height: 30px;
    z-index: 50;
    cursor: pointer;
    transition: all 0.5s;
}
.nav-more{
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: #0095E5;
    border-radius: 5px;
    transition: all 0.5s;
    transform: translateY(10px) rotate(calc(90deg * var(--i) + 45deg));
}
.nav-screen{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}
.close-nav{
    display: none;
}
.close-nav + .nav-but .nav-more{
    transform: translateY(calc(10px * var(--i)));
}
.title{
    font-size: 2rem;
    margin: 0px 10px;
    color: #409EE8;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    padding-top: 100px;
}
.about{
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    padding-top: 40px;
}
.section-title{
    padding: 10px 20px;
    font-size: 1.5rem;
    color: #B373FE;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.5);
}
.landing-img{
    width: 50%;
    max-width: 350px;
    border-radius: 50%;
    aspect-ratio: 3/4;
    border: 5px solid #0095E5;
    box-shadow: 0px 0px 2px 10px #091e42;
}
.about-title{
    font-size: 1.5rem;
    margin: 5px 20px;
    color: #B373FE;
}
.about-details{
    padding: 0px 20px;
    font-size: 1.1rem;
    color: #6DDE83;
}
.links{
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 5px 1px;
    cursor: pointer;
    transition: all 0.5s;
}
.link:hover{
    background-color: #0095E5;
}
.link:hover i{
    color: #091e42;
}
.link i{
    color: #0095E5;
    font-size: 1.5rem;
    transition: all 0.5s;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}
.card{
    position: relative;
    height: 250px;
    width: 350px;
    display: flex;
    background-color: #1E283A;
    margin: 10px;
    flex: 1.5 300px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #A5A9B0;
    transition: all 0.5s;
}
.card:hover{
    box-shadow: 0 0 20px 2px #000;
    transform: scale(1.05);
}
.card-title{
    padding: 5px;
    color: #409EE8;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.card-details{
    text-align: center;
    color: #6DDE83;
    font-size: 1.2rem;
    margin: 5px;
}
#projects .card{
    height: 280px;
}
.project-img{
    width: 85%;
    object-fit: contain;
    border: 1px solid #B373FE;
    border-radius: 10px;
    transition: all 0.5s;
}
.card:hover .project-img{
    transform: translateY(-10px) scale(1.03);
}
.project-link{
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.select-resume{
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 850px;
    border: 1px solid #A5A9B0;
    margin: 10px;
    border-radius: 20px;
}
.resume-topic{
    font-size: 1.3rem;
    border: 1px solid black;
    box-shadow: inset 0 0 5px 1px black;
    color: #0095E5;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}
.resume-active{
    box-shadow: inset 0 0 5px 1px #fff;
}
.resume-data{
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    margin: 10px;
    overflow: hidden;
}
.data{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: fit-content;
    padding: 10px;
    transition: transform 0.5s;
}
.education > .data{
    transform: translateX(0);
}
.skill > .data{
    transform: translateX(-100%);
}
.experiance > .data{
    transform: translateX(-200%);
}
.card-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #B373FE;
    font-size: 1.5rem;
}
.grade{
    color: #B373FE;
    font-size: 1.2rem;
    position: absolute;
    top: 10px;
    right: 10px;
}
.skill-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    max-width: 500px;
    flex-grow: 1;
    flex-basis: 400px;
    flex-shrink: 1;
}
.skill-img{
    font-size: 40px;
    color: #0095E5;
    padding: 10px;
}
.skill-details{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: calc(100% - 40px);
}
.skill-title{
    color: #B373FE;
    font-size: 1.2rem;
    padding: 5px 0;
}
.progress{
    position: relative;
    background-color: #A5A9B0;
    width: 90%;
    height: 5px;
    border-radius: 2px;
}
.progress-status{
    position: absolute;
    background-color: #1dd341;
    left: 0;
    top: 0;
    width: 0;
    height: 5px;
    border-radius: 2px;
    transition: all 0.5s 0.5s;
}
.progress-status::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    top: 12px;
    background-color: #B373FE;
    transform: translateX(50%) rotate(45deg);
}
.progress-status::after{
    counter-reset: X var(--value);
    content: counter(X);
    position: absolute;
    right: 0;
    padding: 5px;
    border-radius: 50%;
    background-color: #B373FE;
    transform: translate(50%, 50%);
}
.skill > .data .progress-status{
    width: calc(1% * var(--value));
}
#connect > .content{
    justify-content: space-around;
    margin-bottom: 40px;
}
.connect-details{
    padding: 10px;
    flex-basis: 370px;
    border: 1px solid black;
    border-radius: 10px;
    width: 45%;
    transition: all 0.5s;
}
.connect-details:hover{
    border: 1px solid #A5A9B0;
}
.connect-details:hover .connect-img{
    transform: scale(1.025);
}
.connect-img{
    width: 100%;
    aspect-ratio: 3/2;
    object-position: top;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.5s;
}
.connect-me{
    color: #B373FE;
    font-size: 1.1rem;
    padding: 5px;
}
.connect-form{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    flex-basis: 370px;
}
.connect-link{
    text-decoration: none;
    color: #0095E5;
    transition: color 0.5s;
}
.connect-link:hover{
    color: #1dd341;
}
.inputs{
    width: 90%;
    height: 40px;
    background-color: transparent;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: #6DDE83;
    font-size: 1.2rem;
    box-shadow: inset 0 0 10px 1px #00000089;
}
.input-desc{
    height: 5rem;
    resize: none;
}
.send-but{
    width: 90%;
    height: 3rem;
    background-color: #6DDE83;
    border: 2px solid #A5A9B0;
    color: #fff;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    transition: all 0.5s;
}
.send-but:hover{
    background-color: #1dd341;
}
@media (max-width:1000px) {
    .about{
        flex-direction: column-reverse;
    }
    .nav-bar{
        display: none;
    }
    .nav-screen{
        display: block;
    }
    .card{
        width: 300px;
    }
}